<section id="address" class="row">

    <form class="col s12 form">

        <fieldset class="row">

            <legend>Endereço</legend>

            <div class="input-field col s12">
                <input id="address-srteet" type="text" name="address-srteet" class="validate" [(ngModel)]="address.street" >
                <label for="address-srteet">Rua *</label>
            </div>

            <div class="input-field col s6">
                <input id="address-number" type="text" name="address-number" class="validate" [(ngModel)]="address.number" >
                <label for="address-number">Nº *</label>
            </div>

            <div class="input-field col s6">
                <input id="address-state" type="text" name="address-state" class="validate" [(ngModel)]="address.state" >
                <label for="address-state">Estado *</label>
            </div>

            <div class="input-field col s12">
                <input id="address-district" type="text" name="address-district" class="validate"  [(ngModel)]="address.district"  >
                <label for="address-district">Bairro *</label>
            </div>

            <div class="input-field col s12">
                <input id="address-city" type="text" name="address-city" class="validate"  [(ngModel)]="address.city" >
                <label for="address-city">Cidade *</label>
            </div>

            <div class="input-field col s12">
                <input id="address-cep" type="text" name="address-cep" class="validate" [(ngModel)]="address.cep"  >
                <label for="address-cep">CEP *</label>
            </div>


        </fieldset>
    </form>


</section>
