 #menu {
     background-color: transparent;
     height: 66px;
 }
 

#menu #submenu {
    min-width: 280px;
    transform: translate(20px, -66px);
}

#menu #submenu li > a {
    min-height: 32px;
    line-height: 32px;
} 

#menu #menu-sidenav {
    
}

.sidenav ul > li {
    padding: 0 16px;
}

.collapsible-body {
    background-color: transparent;
}
