
.writing-pad {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page {
    width: 21cm;
    min-height: 29.7cm;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    padding: 3.5cm 3cm 2.5cm 3cm;
    background: #fffef0;
    color: #000;
    page-break-after: always;
}

.page .title-pad {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    text-decoration: underline;
    padding-bottom: 1.15cm;
}

.page .name-pad {
    text-transform: uppercase;
}

.page .writing-pad {
    text-align: justify;
    padding-bottom: 1cm;
}

.page .date-pad {
    text-align: center;    
}

.page .signature-pad {
    margin: 0 auto;
    margin-top: 2cm;
    padding-top: 0.45cm;
    border: none;
    border-top: solid 1px #000; 
    text-align: center;
    width: 60%;
}

@media print {
    
    body header,
    body footer { 
        display: none;
    }

    .no-print {
        display: none !important;
    }

    .page {
        background-color: #FFF;
        color: #000;
        display: block !important;
        -webkit-print-color-adjust: exact; 
    }

    body #procuration #modal-procuration {
        transform: scale(1) !important;
    }
}

@page {
    size: A4;
    margin: 0;
}
