<section id="attendance" class="row container">

    <form class="col s12">

        <h4 class="center">Ficha de Atendimento</h4>

        <fieldset class="row">
            <legend>Cliente</legend>
            <div class="input-field col s12">
                <input id="client-name" type="text" name="client-name" class="validate">
                <label for="client-name">Nome Completo</label>
            </div>
            <div class="input-field col s5">
                <input id="client-cpf" type="text" name="client-cpf" class="validate">
                <label for="client-cpf">CPF</label>
            </div>
            <div class="input-field col s5">
                <input id="client-rg" type="text" name="client-rg" class="validate">
                <label for="client-rg">RG</label>
            </div>
            <div class="input-field col s2">
                <input id="client-ssp" type="text" name="client-ssp" class="validate">
                <label for="client-ssp">SSP</label>
            </div>

            <div class="input-field col s4">
                <input id="client-birthday" type="text" name="client-birthday" class="validate">
                <label for="client-birthday">Data. Nasc.</label>
            </div>
            <div class="input-field col s8">
                <input id="client-email" type="text" name="client-email" class="validate">
                <label for="client-email">Email</label>
            </div>

            <div class="input-field col s6">
                <input id="client-tel" type="text" name="client-tel" class="validate">
                <label for="client-tel">Tel. Resid.</label>
            </div>
            <div class="input-field col s6">
                <input id="client-cel" type="text" name="client-cel" class="validate">
                <label for="client-cel">Tel. Rec.</label>
            </div>
        </fieldset>

        <fieldset class="row">
            <legend>Representante Legal / Documentos Pessoais</legend>
            <div class="input-field col s12">
                <input id="name" type="text" name="name" class="validate">
                <label for="name">Nome Completo</label>
            </div>
            <div class="input-field col s5">
                <input id="cpf" type="text" name="cpf" class="validate">
                <label for="cpf">CPF</label>
            </div>
            <div class="input-field col s5">
                <input id="rg" type="text" name="rg" class="validate">
                <label for="rg">RG</label>
            </div>
            <div class="input-field col s2">
                <input id="ssp" type="text" name="ssp" class="validate">
                <label for="ssp">SSP</label>
            </div>

            <div class="input-field col s4">
                <input id="birthday" type="text" name="birthday" class="validate">
                <label for="birthday">Data. Nasc.</label>
            </div>
            <div class="input-field col s8">
                <input id="email" type="text" name="email" class="validate">
                <label for="email">Email</label>
            </div>

            <div class="input-field col s6">
                <input id="tel" type="text" name="tel" class="validate">
                <label for="tel">Tel. Resid.</label>
            </div>
            <div class="input-field col s6">
                <input id="cel" type="text" name="cel" class="validate">
                <label for="cel">Tel. Rec.</label>
            </div>
            <div class="input-field col s6">
                <input id="marital" type="text" name="marital" class="validate">
                <label for="marital">Est. Civil</label>
            </div>
            <div class="input-field col s6">
                <input id="profession" type="text" name="profession" class="validate">
                <label for="profession">Profissão</label>
            </div>
        </fieldset>

        <fieldset class="row">
            <legend>Parte Contrária</legend>
            <div class="input-field col s12">
                <input id="counterpart-name" type="text" name="counterpart-name" class="validate">
                <label for="counterpart-name">Nome/ Razão Social</label>
            </div>
            <div class="input-field col s5">
                <input id="counterpart-cpf" type="text" name="counterpart-cpf" class="validate">
                <label for="counterpart-cpf">CPF/CNPJ</label>
            </div>
            <div class="input-field col s5">
                <input id="counterpart-rg" type="text" name="counterpart-rg" class="validate">
                <label for="counterpart-rg">RG</label>
            </div>
            <div class="input-field col s2">
                <input id="counterpart-ssp" type="text" name="counterpart-ssp" class="validate">
                <label for="counterpart-ssp">SSP</label>
            </div>
            <div class="input-field col s2">
                <input id="counterpart-lins" type="text" name="counterpart-lins" class="validate">
                <label for="counterpart-lins">L.I.N.S</label>
            </div>
            <div class="input-field col s5">
                <input id="counterpart-uf" type="text" name="counterpart-uf" class="validate">
                <label for="counterpart-uf">Insc. Estadual</label>
            </div>
            <div class="input-field col s5">
                <input id="counterpart-city" type="text" name="counterpart-city" class="validate">
                <label for="counterpart-city">Insc. Municipal</label>
            </div>
        </fieldset>



        <fieldset class="row">
            <legend>Dados Processuais</legend>
            <div class="input-field col s12">
                <input id="process-cognition" type="text" name="process-cognition" class="validate">
                <label for="process-cognition">Competência para Cognição</label>
            </div>
            <div class="input-field col s12">
                <input id="counterpart-need" type="text" name="counterpart-need" class="validate">
                <label for="counterpart-need">Necessidades</label>
            </div>
            <div class="input-field col s12">
                <label for="counterpart-rg">Natureza da Causa</label>
            </div>
            <div class="input-field col s12">
                <p>
                    <label>
                        <input name="nature" type="radio" checked />
                        <span>Civil</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="nature" type="radio" />
                        <span>Empresarial</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="nature" type="radio" />
                        <span>Consumidor</span>
                    </label>
                </p>

            </div>
            <div class="input-field col s12">
                <input id="counterpart-outher" type="text" name="counterpart-outher" class="validate">
                <label for="counterpart-outher">Outro</label>
            </div>

            <div class="input-field col s12">
                <p>
                    <label>
                        <input name="judicial" type="radio" checked />
                        <span>Judicial Contencioso</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="judicial" type="radio" />
                        <span>Judicail Voluntário</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="judicial" type="radio" />
                        <span>Administrativo</span>
                    </label>
                </p>

            </div>
            <div class="input-field col s12">
                <input id="counterpart-outher" type="text" name="counterpart-outher" class="validate">
                <label for="counterpart-outher">Outro</label>
            </div>

            <div class="input-field col s12">
                <label for="counterpart-rg">Processo</label>
            </div>
            <div class="input-field col s12">
                <p>
                    <label>
                        <input name="process" type="radio" checked />
                        <span>Conhecimento</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="process" type="radio" />
                        <span>Execução</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="process" type="radio" />
                        <span>Consumidor</span>
                    </label>
                </p>

            </div>

            <div class="input-field col s12">
                <label for="counterpart-rg">Procedimento</label>
            </div>
            <div class="input-field col s12">
                <p>
                    <label>
                        <input name="process" type="radio" checked />
                        <span>Ordinário</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="process" type="radio" />
                        <span>Sumário</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="process" type="radio" />
                        <span>Especial</span>
                    </label>
                </p>

            </div>
            <div class="input-field col s12">
                <input id="counterpart-outher" type="text" name="counterpart-outher" class="validate">
                <label for="counterpart-outher">Outro</label>
            </div>

        </fieldset>

        <fieldset class="row">
            <legend>Dados</legend>
            <div class="input-field col s12">
                <input id="counterpart-outher" type="text" name="counterpart-outher" class="validate">
                <label for="counterpart-outher">Numero</label>
            </div>
            <div class="input-field col s12">
                <input id="counterpart-outher" type="text" name="counterpart-outher" class="validate">
                <label for="counterpart-outher">Vara</label>
            </div>
            <div class="input-field col s12">
                <input id="counterpart-outher" type="text" name="counterpart-outher" class="validate">
                <label for="counterpart-outher">Ofício</label>
            </div>
            <div class="input-field col s12">
                <input id="counterpart-outher" type="text" name="counterpart-outher" class="validate">
                <label for="counterpart-outher">Comarca</label>
            </div>
            <div class="input-field col s6">
                <input id="counterpart-outher" type="text" name="counterpart-outher" class="validate">
                <label for="counterpart-outher">Data de Entrada</label>
            </div>
            <div class="input-field col s6">
                <input id="counterpart-outher" type="text" name="counterpart-outher" class="validate">
                <label for="counterpart-outher">Valor da Causa</label>
            </div>
        </fieldset>

        <fieldset class="roe">
            <legend>Relato dos fatos</legend>
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" rows="15" cols="15"></textarea>
                <label for="textarea1">Textarea</label>
            </div>
        </fieldset>

    </form>

</section>