#procuration {
}

#procuration #client {

}

#procuration #modal-procuration {
    width: 21.5cm;
    height: 100%;
    transform: scale(0.75);

}

#procuration #modal-procuration .modal-content {
    padding: 0;
}
