/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: rafa;
    src: url(assets/fonts/Dehuti-Book.otf);
}

@font-face {
    font-family: adv;
    src: url(assets/fonts/DejaVuSans.ttf);
}

html, html body {
    font-family: adv;
}

html body {
    background-color: rgba(0,0,0,0.84);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: adv;
}

html .primary {
    background-color: rgba(28,32,35, 1);
    color: gainsboro;
}

html .secondary {
    background-color: rgba(167,62,22, 1);
    color: gainsboro;
}

html .terciary {
    background-color: rgba(255,185, 2);
    color: rgba(28,32,35, 1);
}

body nav {
    background-color: rgba(28,32,35, 1);
}

body nav img {
    height: 60px;
    padding: 4px 16px;
 }

body ul {
    color: #FFF;
}

body ul * {
    color: inherit !important;
}

body ul *:not(ul) {
    background-color: transparent
}

body ul > * {
    cursor: pointer;
}

body ul > *:hover:not(.no-hover),
body ul > *:focus:not(.no-hover),
body ul > *:active:not(.no-hover) {
    background-color: rgba(255,255,255,0.1);
}

body ul li li {
    padding: 0;
    padding-left: 32px;
}

body .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body .form {
    background-color: #FFF;
    padding: 0;
    border-radius: 4px;
    color: #000;
}

body .form fieldset {
    margin: 0;
    padding: 8px;
    border: none;
}

body .form legend {
    padding: 16px 8px 8px 8px;
    font-size: 1.5rem;
}
